body{
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}
.text{
    line-height: 40px;
    font-size: 18px;
}
.title{
    font-size: 22px;
}
.lh{
    line-height: 30px;
}
.modal-header{
    border: none!important;
}
.modal-body{
    padding: 0px !important;
}
.modal-content{
    background-color: transparent;
    border: none;
}